mixin menu(item)
    +nav(title, "dropdown_menu")
        if (user)
            +nav_item( "/shutters/list", item === "shutters" ) #{__("menu.shutters")}
            +nav_item( "/users/profile", item === "profile" )  #{__("menu.profile")}
            +nav_item( "/gpio",          item === "gpio" )     #{__("menu.gpio")}
            +nav_item( "/status",        item === "status" )   #{__("menu.status")}
            +nav_item( "/logout" ) #{__("menu.logout")}

mixin shuttersList(shutters)
    .list-group
        .row.text-center.hidden-xs
            .col-md-3.col-md-offset-9.add-group-item
                a(href="/shutters/add", title='#{__("shutter.addIt")}', alt='#{__("shutter.addIt")}')
                    button.btn.btn-default
                        span.glyphicon.glyphicon-plus(aria-hidden="true")
    
        each shutter, index in shutters
            .list-group-item.text-center.vertical-center
                .col-md-9
                    .h4.text-left.list-group-item-heading #{shutter.name}
                    if (shutter.open === true)
                        p.text-left.list-group-item-text.text-upper.text-bold.text-green #{__("shutter.openState")}
                    if (shutter.open !== true)
                        p.text-left.list-group-item-text.text-upper.text-bold.text-red #{__("shutter.closeState")}
                .col-md-3
                    if (shutter.open === true)
                        a(href="/shutters/#{shutter._id}/#{shutter.remoteControlKey}/close", title='#{__("shutter.closeIt")}', alt='#{__("shutter.closeIt")}')
                            button.btn.btn-success.btn-sm
                                span.small.glyphicon.glyphicon-menu-down(aria-hidden="true")
                    if (shutter.open !== true)
                        a(href="/shutters/#{shutter._id}/#{shutter.remoteControlKey}/open", title="#{__('shutter.openIt')}", alt="#{__('shutter.openIt')}")
                            button.btn.btn-warning.btn-sm
                                span.small.glyphicon.glyphicon-menu-up(aria-hidden="true")
                    | &nbsp
                    a(href="/shutters/#{shutter._id}/edit", title="#{__('shutter.editIt')}", alt="#{__('shutter.editIt')}").hidden-xs
                        button.btn.btn-default.btn-sm
                            span.small.glyphicon.glyphicon-pencil(aria-hidden="true")
                    | &nbsp
                    a(href="/shutters/#{shutter._id}/remove", title="#{__('shutter.removeIt')}", alt="#{__('shutter.removeIt')}").hidden-xs
                        button.btn.btn-default.btn-sm
                            span.small.glyphicon.glyphicon-remove(aria-hidden="true")

mixin shuttersGrid(shutters)
    .row
        .col-xs-8.col-md-4 #{__("shutters.name")}
        .hidden-xs.col-md-4 #{__("shutters.state")}
        .col-xs-4.col-md-4 &nbsp;
    each shutter, index in shutters
        +shutterLine(index, shutter)

mixin shutterLine(index, shutter)
    .row
        .col-xs-8.col-md-4 #{shutter.displayName}
        .hidden-xs.col-md-4 #{(shutter.open === true ? __("shutter.openState") : __("shutter.closeState"))}
        .col-xs-4.col-md-4
            if (shutter.open === true)
                a(href="/shutters/#{shutter._id}/#{shutter.remoteControlKey}/close")
                    span.glyphicon.glyphicon-menu-down(aria-hidden="true")

            if (shutter.open !== true)
                a(href="/shutters/#{shutter._id}/#{shutter.remoteControlKey}/open")
                    span.glyphicon.glyphicon-menu-up(aria-hidden="true")
            | &nbsp
            a(href="/shutters/#{shutter._id}/edit").hidden-xs
                span.glyphicon.glyphicon-pencil(aria-hidden="true")
            | &nbsp
            a(href="/shutters/#{shutter._id}/remove").hidden-xs
                span.glyphicon.glyphicon-remove(aria-hidden="true")
        
mixin shuttersTable(shutters)
      table.table.table-bordered.table-striped.table-condensed.table-hover.table-slim.text-center
         thead
                tr
                    th.text-center #{__("shutters.name")}
                    th.text-center #{__("shutters.state")}
                    th.text-center 
                        a(href="/shutters/add")
                            span.glyphicon.glyphicon-plus(aria-hidden="true")
          tbody
                each shutter, index in shutters
                    +shutterRow(index, shutter)


mixin shutterRow(index, shutter)
    tr
        td
            = shutter.displayName
        td
            = (shutter.open === true ? __("shutter.openState") : __("shutter.closeState"))
        td
            if (shutter.open === true)
                a(href="/shutters/#{shutter._id}/#{shutter.remoteControlKey}/close")
                    span.glyphicon.glyphicon-menu-down(aria-hidden="true")

            if (shutter.open !== true)
                a(href="/shutters/#{shutter._id}/#{shutter.remoteControlKey}/open")
                    span.glyphicon.glyphicon-menu-up(aria-hidden="true")
            | &nbsp
            a(href="/shutters/#{shutter._id}/edit")
                span.glyphicon.glyphicon-pencil(aria-hidden="true")
            | &nbsp
            a(href="/shutters/#{shutter._id}/remove")
                span.glyphicon.glyphicon-remove(aria-hidden="true")